{
	"parser": "babel-eslint",
	"extends": [
		"eslint:recommended"
	],
	"rules": {
        "comma-dangle": [1, "never"],
        "no-console": 0,
		"no-empty": 1,
        "no-unused-vars": [1, {"vars": "all", "args": "none"}],
		"strict": [0, "global"],
	},
	"ecmaFeatures": {
		"modules": true,
	},
	"env": {
		"es6": true,
		"browser": true
	},
	"globals": {
		"arguments": true,
		"require": false,
		"angular": false,
		"ScrollMagic": false,
		"TweenMax": false,
		"TweenLite": false,
		"GreenSockGlobals": false
	}
}
